################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Grades/v15/Server/sqlite3/storage.ide-wal
/.vs/Grades/v15/Server/sqlite3/storage.ide-shm
